* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; }
  
  html {
	font: 100%/1.5 sans-serif;
	word-wrap: break-word;
	padding: 1.5em; }
  
  @media (min-width: 768px) {
	html { font-size: 125%; } }
  
  h1, h2, h3, h4 {
	margin: 2.5rem 0 1.5rem 0;
	line-height: 1.25; }

  h1 {
	font-size: 22pt;
  }
  h2 {
	font-size: 20pt;
	font-family: 'Courier New';
	color:#888;
  }
  h3 {
	font-size: 16pt;
	color:#777;
  }
  h4 {
	font-size: 14pt;
  }
  
  .title {
	font-size: 2.5em; }
  
  .subtitle {
	font-weight: normal;
	font-size: 0.75em;
	color: #666; }
  
  a {
	color: #fa6432;
	text-decoration: none; }
  a:hover, a:focus, a:active {
	text-decoration: underline; }
  
  p {
	margin: 1em 0; }
  p code {
	background-color: #eee;
	padding: 0.05em 0.2em;
	border: 1px solid #ccc; }
  
  ol, ul {
	margin: 1em; }
  ol li ol, ol li ul, ul li ol, ul li ul {
	margin: 0 2em; }
  ol li p, ul li p {
	margin: 0; }
  
  img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0.5em; }
  
  blockquote {
	padding-left: 1em;
	font-style: italic;
	border-left: solid 1px #00d8d8; }
  
  table {
	font-family: monospace, monospace; /* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
	font-size: 1rem;
	text-align: left;
	caption-side: bottom;
	margin-bottom: 2em; }
  table * {
	border: none; }
  table thead, table tr {
	display: table;
	table-layout: fixed;
	width: 100%; }
  table tr:nth-child(even) { }
  table tbody {
	display: block;
	max-height: 70vh;
	overflow-y: auto; }
  table td, table th {
	padding: 0.25em; }
  
  table, .highlight > pre, pre.example {
	max-height: 70vh;
	margin: 1em 0;
	padding: 1em;
	overflow: auto;
	font-family: monospace, monospace; /* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
	font-size: 0.85rem;
	border: 1px dashed rgba(250, 100, 50, 0.5); }
  
  figure {
	margin: 1em 0;
  }
  
  figcaption {
	font-family: monospace, monospace; /* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
	font-size: 0.75em;
	text-align: center;
	color: grey; }
  
  .footnote-definition sup {
	float: left; }
  
  .footnote-definition .footnote-body {
	margin: 1em 0;
	padding: 0 1em;
	border: 1px solid rgba(250, 100, 50, 0.3);
	background-color: #ccc; }
  .footnote-definition .footnote-body p:only-child {
	margin: 0.2em 0; }
  
  .align-left   { text-align: left;   }
  .align-center { text-align: center; }
  .align-right  { text-align: right;  }
  
  
  dl { font-family: monospace, monospace; }
  dl > dt { font-weight: bold; }
  dl > dd { margin: 1em; }
  
  .todo, .priority, .tags {
	font-size: 0.8em;
	color: red;
  }
  
  .timestamp {
	background-color: #eee;
	padding: 0.05em 0.2em;
	border: 1px solid #ccc; }


  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-collapse:separate;	
	border-radius: 20px;
	
	}
	thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
	border-radius:6px;
	}
	th, td {
	    padding: 12px 15px;
	}
	tbody tr {
 	   border-bottom: 1px solid #dddddd;
	}
	tbody tr:nth-of-type(even) {
	    background-color: #232323;
	}
	tbody tr:last-of-type {
 	   border-bottom: 2px solid #009879;
	}
	tbody tr.active-row {
	    font-weight: bold;
	    color: #009879;
	}

.status {
	color:#fff;
}

/* Remove default bullets */
ul, .treeviewul {
  list-style-type: none;
}

/* Remove margins and padding from the parent ul */
.treeviewul {
  margin: 0;
  padding: 0;
}

.node-link {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.node-link::before {
  content: "\0f36";
  color: while;
  display: inline-block;
  margin-right: 6px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  /*content: "\25B6";*/
  /*content: "\21ac";*/
  content: "\203A";
  color: cyan;
  font-weight: 900;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  transform: rotate(90deg);
}

/* Style the caret/arrow */
.folded {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.folded::before {
  content: "\21A9";
  color: gray;
  display: inline-block;
  margin-left: 12px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.folded-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
}
