* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; }
  
  html {
	font: 100%/1.5 sans-serif;
	word-wrap: break-word;
	padding: 0; }
  
  @media (min-width: 768px) {
	html { font-size: 125%; } }
  
  h1, h2, h3, h4 {
	margin: 2.5rem 0 1.5rem 0;
	line-height: 1.25; 
  user-select: none; /* Prevent text selection */
	font-family: '{{fontfamily}}';
  }

  h1 {
	font-size: 22pt;
  }
  h2 {
	font-size: 20pt;
	color:#888;
  }
  h3 {
	font-size: 17pt;
	color:#777;
  }
  h4 {
	font-size: 15pt;
  }
  
  .title {
	font-size: 2.5em; }
  
  .subtitle {
	font-weight: normal;
	font-size: 0.75em;
	color: #666; }
  
  a {
	color: #fa6432;
	text-decoration: none; }
  a:hover, a:focus, a:active {
	text-decoration: underline; }
  
  p {
	margin: 1em 0; }
  p code {
	background-color: #eee;
	padding: 0.05em 0.2em;
	border: 1px solid #ccc; }
  
  ol, ul {
	margin: 1em; }
  ol li ol, ol li ul, ul li ol, ul li ul {
	margin: 0 2em; }
  ol li p, ul li p {
	margin: 0; }
  
  img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
	padding: 0.5em; }
  
  blockquote {
	padding-left: 1em;
	font-style: italic;
	border-left: solid 1px #00d8d8; }
  
  table {
	font-family: monospace, monospace; /* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
	font-size: 1rem;
	text-align: left;
	caption-side: bottom;
	margin-bottom: 2em; }
  table * {
	border: none; }
  table thead, table tr {
	display: table;
	table-layout: fixed;
	width: 100%; }
  table tr:nth-child(even) { }
  table tbody {
	display: block;
	max-height: 70vh;
	overflow-y: auto; }
  table td, table th {
	padding: 0.25em; }
  
  table, .highlight > pre, pre.example {
	max-height: 70vh;
	margin: 1em 0;
	padding: 1em;
	overflow: auto;
	font-family: monospace, monospace; /* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
	font-size: 0.85rem;
	border: 1px dashed rgba(250, 100, 50, 0.5); }
 
	pre {
	/*display:block;*/
	/*overflow: auto;*/
	font-family: monospace, monospace; /* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
	/*font-size: 0.85rem;*/
	line-height: 1;
	/*border: 1px dashed rgba(250, 100, 50, 0.5); }*/
	padding: 5px;
	tab-size: 2;

	}
	code {
		display: block;
		border-radius: 10px;
	}

  figure {
	margin: 1em 0;
  }
  
  figcaption {
	font-family: monospace, monospace; /* https://github.com/necolas/normalize.css#extended-details-and-known-issues */
	font-size: 0.75em;
	text-align: center;
	color: grey; }
  
  .footnote-definition sup {
	float: left; }
  
  .footnote-definition .footnote-body {
	margin: 1em 0;
	padding: 0 1em;
	border: 1px solid rgba(250, 100, 50, 0.3);
	background-color: #ccc; }
  .footnote-definition .footnote-body p:only-child {
	margin: 0.2em 0; }
  
  .align-left   { text-align: left;   }
  .align-center { text-align: center; }
  .align-right  { text-align: right;  }
  
  
  dl { font-family: monospace, monospace; }
  dl > dt { font-weight: bold; }
  dl > dd { margin: 1em; }
  
  .todo, .priority, .tags {
	font-size: 0.8em;
	color: red;
  }
  
  .timestamp {
		padding: 0px;
		margin: 0px;
		border: 1px dotted #222;
		color: #444;
	}


  table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
	border-collapse:separate;	
	border-radius: 20px;
	
	}
	thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
	border-radius:6px;
	}
	th, td {
	    padding: 12px 15px;
	}
	tbody tr {
 	   border-bottom: 1px solid #dddddd;
	}
	tbody tr:nth-of-type(even) {
	    background-color: #232323;
	}
	tbody tr:last-of-type {
 	   border-bottom: 2px solid #009879;
	}
	tbody tr.active-row {
	    font-weight: bold;
	    color: #009879;
	}

.status {
	color:#fff;
}

/* Remove default bullets */
ul.treeviewul {
  list-style-type: none;
	white-space: nowrap;
}

ul > li {
    padding-left:1px;
	padding-right:1px;
}
li > ul {
    padding-left:1px;
	padding-right:1px;
}
ul > li.caret  {
    padding-left:1px;
	padding-right:1px;
}
li.caret > ul  {
    padding-left:1px;
	padding-right:1px;
}
ul.treeviewul > li,  {
    padding-left:1px;
	padding-right:1px;
}
li > ul.treeviewul {
    padding-left:1px;
	padding-right:1px;
}

/* Remove margins and padding from the parent ul */
.treeviewul {
  margin: 0;
  padding: 0;
}

.node-link {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  font-size: 1.5vw;
}

/* Create the caret/arrow with a unicode, and style it */
.node-link::before {
  content: "\0f36";
  color: while;
  display: inline-block;
  margin-right: 6px;
}

/* Style the caret/arrow */
.caret {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
  font-size: 1.5vw;
}

/* Create the caret/arrow with a unicode, and style it */
.caret::before {
  /*content: "\25B6";*/
  /*content: "\21ac";*/
  /*content: "\203A";*/
  content: "\2295";
  font-size: 2.5vw;
  color: cyan;
  font-weight: 900;
  display: inline-block;
  margin-right: 6px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.caret-down::before {
  content: "\2212";
  /*transform: rotate(90deg);*/
}

/* Style the caret/arrow */
.folded {
  cursor: pointer;
  user-select: none; /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
.folded::before {
  content: "\21A9";
  color: gray;
  display: inline-block;
  margin-left: 12px;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
.folded-down::before {
  transform: rotate(90deg);
}

/* Hide the nested list */
.nested {
  display: none;
  margin: 5px;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
.active {
  display: block;
  margin: 5px;
}

.master-wrapper {
	display: flex;
	flex-direction: row;
}

.header-wrapper {
	height: 2%;
	min-height: 10px;
	margin: 0px;
	padding: 0px;
	width: 100%;
}

.header {
	margin: 0px;
	padding: 0px;
	width: 100%;
}
/*
.header-left {
  position: relative;
  display: inline-block;
  padding: 1em 5em 1em 1em;
  overflow: hidden;
  color: #fff;
}

.header-left:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -1;
}
.header-right {
  position: relative;
  display: inline-block;
  padding: 0 0 1em 1em;
  overflow: hidden;
  color: #fff;
}

.header-right:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #aaa;
  -webkit-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  transform-origin: 0 100%;
  -webkit-transform: skew(-45deg);
  -ms-transform: skew(-45deg);
  transform: skew(-45deg);
  z-index: -2;
}
*/

.header-left {
  -webkit-clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
  background-color:#009879;
  padding-right: 20px;
}

.header-right {
	padding-right: 20px;
}

h2.header {
	margin: 2px;
	padding: 2px;
	text-align: right;
}

h1.header {
	margin: 2px;
	padding: 2px;
}

.header-container {
	background-color: #444;
	display: flex;
	flex-direction: row;
}

.doc-wrapper {
	display: flex;
	flex-direction: column;
	padding: 0px;
}

.display-box {
	margin-left: 20px;
}
